body{
    height: 120vh;
    background-image: linear-gradient(to bottom right, rgb(194, 135, 250), rgb(109, 203, 235));
}

textarea{
    resize: none;
}

#log{
    filter: brightness(100%);
}

h2{
    color: white;
}

h3{
    color: white;
}

ul{
    color: white;
}

a{
    text-decoration: none;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

#container{
    height: 500px;
    width:  1000px;
    margin: 70px auto;
}

#imagem{
    height: 500px;
    width: 1000px;
    position: absolute;
    margin-left: 0px;
    filter: brightness(70%);
    border-radius: 25px;
}

#container-logo{
    display: inline-block;
    position: relative;
    margin-left: 30px;
    margin-top: 20px;
}

#menu-home{
    position: relative;
    display: inline;
    margin-left: 500px;
    /*margin-right: 10px;
    padding-top: 30px;*/
}

.menu-home-item{
    font-size: 20px;
    display: inline-block;
    padding: 15px; 
}

#texto{
    color: white;
    position: relative;
    width: 200px;
    margin-left: 30px;
}

#texto2{
    color: white;
    position: relative;
    display: inline-block;
    width: 300px;
    margin-left: 100px;
    text-align: center;
}

#comentario-bg{
    background: lightgray;
    position: relative;
    margin-left: 150px;
    margin-top: 150px;
    width: 700px;
    height: 350px;
    border-radius: 25px;
}

#comentario-texto{
    color: grey;
    text-align: center;
}

#caixa-comentario{
    position: relative;
    display: inline-block;
    text-align: left;
    margin-left: 10px;
}

#commentary-log{
    position: relative;
    display: inline-block;
    height: 150px;
    margin-left: 50px;
}

#formulario{
    position: relative;
    display: inline-block;
    width: 200px;
    margin-left: 350px;
}

#links-contato{
    position: relative;
    display: inline-block;
    width: 100px;
}

.profile-pic{
    content: inherit;
    position: relative;
    width: 150px;
    height: 150px;
    margin-left: 200px;
    border-radius: 100px;
}